mixin attrTag(tag, attrs)
  if typeof attrs === 'object'
      #{tag}/&attributes(attrs)
  else
      #{tag}/&attributes({})

mixin attrTags(style)
  - attrTags = {bold: 'b', italic: 'i', strike: 'strike', underline: 'u'}
  each tag, attr in attrTags
    if style[attr]
      +attrTag(attrTags[key], style[attr])