include attrTags.jade

mixin richTextStyle(style, text)
  r
    rPr
      +attrTags(style)
      if style.size
        sz(val=style.size)
      if style.color
        color/&attributes(style.color || {rgb: 'FF000000'})
      rFont(val=style.font || 'Calibri')/
      family(val=style.family || 2)/
    t #{text}