extends ./xml.jade
block content
  Types&attributes(namespaces)
    each type, ext in defaults
      Default(ContentType=type, Extension=ext)/
    each item in overrides
      Override(ContentType=item.type, PartName='/' + item.path)/