extends ./xml.jade
block content
  cp:coreProperties&attributes(ns.getAttributes(['cp', 'dc', 'dcmitype', 'dcterms', 'xsi']))
    - creator = creator || 'Excellent'
    dc:creator #{creator}
    cp:lastModifiedBy #{creator}
    - ts = createdAt || (Date.toISOString())
    dcterms:created(xsi:type="dcterms:W3CDTF") #{ts}
    dcterms:modified(xsi:type="dcterms:W3CDTF") #{ts}
