extends ./xml.jade
block content
  xdr:wsDr&attributes(namespaces)
    xdr:absoluteAnchor
      xdr:pos/&attributes(origin)
      xdr:ext/&attributes(extent)
      xdr:pic
        xdr:nvPicPr
          xdr:cNvPr(descr=description || filename, id=id, name=name || 'Picture ' + id)/
          xdr:cNvPicPr
            a:picLocks(noChangeAspect=1)/
        xdr:blipFill
          a:blip(r:embed="rId"+id, xmlns:r=ns.relationships)/
          a:stretch
            a:fillRect/
        xdr:spPr
          a:xfrm
            a:off/&attributes(origin)
            a:ext/&attributes(extent)
          a:prstGeom(prst='rect')
            a:avLst/
      xdr:clientData/