extends ./xml.jade

block content
  sst(count=count, uniqueCount=strings.length)&attributes(namespaces)
    each string in strings
      si
        if string
          t #{string}
        else
          t/
